/* ----- NOT MY CODE: START ----- */

.progress-bar {
  width: 100%;
  height: 10px;
  margin-top: 10px;
}

.percentage {
  display: block;
  height: 100%;
  background-color: #333;
  animation: progress 1000ms ease-in 1;
}

/* ----- NOT MY CODE: END ----- */

#created-by {
  margin-top: 5px;
  font-size: 0.8rem;
}

#your-data {
  font-size: 1rem;
}

#ui-multi-display li {
  padding: 50px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

a {
  color: #333;
}

#general-color {
  color: #333;
}

#logo-color,
#plus-color,
#search-color {
  color: #333;
}

#enter-the-hive {
  color: #333;
}

#general-font-size {
  font-size: 1.5rem;
}


/* ----- NOT MY CODE: START ----- */

/* label color */
.input-field label {
  color: #333;
}

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #333;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

/* ----- NOT MY CODE: END ----- */


nav {
  background-color: rgb(255, 236, 130);
}

nav li {
  color: #333;
}

.brand-logo {
  margin-left: 2%;
  top: 4px;
}

#logo-location {
  color: #333;
  left: 5px;
}

#plus-location {
  position: fixed;
  left: 120px;
  top: 5px;
}

#search-location {
  position: fixed;
  left: 170px;
  top: 5px;
}

#bee-pic {
  max-width: 300px;
}

#bee-name-symbol {
  margin: 10px;
  max-width: 20px;
}

.container {
  width: 100% !important;
}

body {
  font-family: "IBM Plex Serif", serif;
  color: #333;
}

.flashes h4 {
  line-height: 2;
}

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}

/* ----- NOT MY CODE: START ----- */

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-brown .waves-ripple {
  /* The alpha value allows the text and background color
of the button to still show through. */
  background-color: rgba(121, 85, 72, 0.65);
}

/* ----- NOT MY CODE: END ----- */

#grey {
  color: rgb(201, 201, 201);
}

a {
  text-decoration: none;
  color: #333;
}

.center-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-title {
  display: flex;
  font-size: 10rem;
  top: 10%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

#game-subtitle {
  font-size: 1rem;
  position: absolute;
  bottom: 100px;
}

#arrow {
  position: absolute;
  font-size: 3rem;
  bottom: 20px;
  margin-left: -15px;
}

#arrow2 {
  margin-top: 15px;
  font-size: 3rem;
}

.section {
  height: 100vh;
}

#honey-pot {
  font-size: 8rem;
}

/* ----- NOT MY CODE: START ----- */

/* 
https://codepen.io/seolan/pen/jbGyxq*/
.section:nth-child(2) {
  font-size: 1.2rem;
  line-height: 2.8rem;
}

/* ----- NOT MY CODE: END ----- */

#highlight {
  font-size: 2rem;
}

#symbol {
  margin-top: 80px;
  margin-bottom: 60px;
}

/* ----- NOT MY CODE: START ----- */

.section:nth-child(3) {
  font-size: 1.5rem;
  /* background-image: url("/static/images/hivebg.png"); */
}

/* ----- NOT MY CODE: END ----- */

#congrats {
  font-size: 8em;
  margin-top: 200px;
  max-width: 100%;
}

#congrats-subtitle {
  font-size: 1rem;
  margin-top: -30px;
}

#arrow1 {
  position: absolute;
  font-size: 3rem;
  bottom: 20px;
}

#book {
  width: 300px;
  margin: 40px;
}

#end2 {
  font-size: 1rem;
  line-height: 2rem;
  text-align: left;
}

#gameover {
  font-size: 10rem;
  margin-top: 200px;
}

#gameover-subtitle {
  font-size: 1.8rem;
  margin-top: -50px;
}

#final-message {
  font-size: 0.9rem;
  margin-top: 200px;
}

#trail {
  display: flex;
  position: relative;
  right: -458px;
  opacity: 0.2;
  top: 50px;
  width: 900px;
}

#final-bee {
  display: flex;
  position: relative;
  top: -140px;
  right: -425px;
}

#final-message {
  display: flex;
  position: relative;
  top: -410px;
  right: -30px;
}

#final-comp {
  margin-top: 20px;
}
