 * {
  margin: 0; 
  padding: 0; 
}

a {
  color: #333;
}

.container {
  width: 100% !important;
}

body {
  font-family: 'IBM Plex Serif', serif;
  color: #333;
}



/*
#fullpage {
  text-align: center;
}
*/

a {
  text-decoration: none;
  color:#333;
}

.center-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-title {
  font-size: 10rem;
  position: absolute;
  top: 225px;
}

#game-subtitle {
  font-size: 1rem;
  position: absolute;
  bottom: 300px;
}

#arrow {
  position: absolute;
  font-size: 3rem;
  bottom: 20px;
}

#arrow2 {
  margin-top: 40px;
  font-size: 3rem;
}

.section {
  background-color: rgb(255, 238, 238);
  height: 100vh;
  background-image: url("/static/images/trial.png");
}

#honey-pot {
  font-size: 10rem;
}

.section:nth-child(2) {
  background-image: url("/static/images/bg25.png");
  background-repeat: repeat;
  font-size: 1.5rem;
  line-height: 3rem;
}

#symbol {
  margin-top: 80px;
  margin-bottom: 60px;
}



.section:nth-child(3) {
  font-size: 1.5rem;
  background-image: url("/static/images/hivebg.png");
}

