{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card=panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    PUSH IT
                </h3>

                <form method = "post">
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="submit btn-large light-blue darken-1 text-shadow"> <!-- submit triggers python -->
                                UNKNOWINGLY FILL DATABASE</i>
                            </button>
                        </div>
                    </div>
                </form>
            

            </div>
        </div>
    </div>

{% endblock %}