{% extends "base_bare.html" %}
{% block content %}

    <div id="fullpage">
        <div class="section center">
            <h1 id="game-title">I🐝M</h1>
            <p id="game-subtitle">A short admin game about efficient honey production</p>
            <i class="fa fa-arrow-down" id="arrow" aria-hidden="true"></i>
        </div>
        


        <div class="section">
          <div class="slide">
            <p>We are a busy hive producing lots of honey.<br>
                However some of our worker bees are not as productive as required.<br>
                Wanna help us make our hive great?</p>
          </div>
          <div class="slide">
            <p>2-2</p>
          </div>
          <div class="slide">
            <p>2-3</p>
          </div>
          <div class="slide">
            <p>2-4</p>
          </div>
        </div>
        <div class="section">
          <p>3</p>
        </div>
        <div class="section">
          <p>4</p>
        </div>
      </div>

{% endblock %}
    