{% extends "base_bare.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card=panel">
                <h1 class="center-align">I🐝M</h1>
                <p class="center-align">We are a busy hive producing lots of honey.<br>
                    However some of our worker bees are not as productive as required.<br>
                    Wanna help us make our hive great?</p>
                <form method = "post">
                    <div class="row">
                        <div class="col s12 center-align pt2">
                            <button class="submit btn-large black"> <!-- submit triggers python -->
                                Sure!</i>
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

{% endblock %}