{% extends "base.html" %}
{% block content %}
 <!-- flash messages 
<section>
   
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="col flashes">
                    <a class="btn-flat tooltipped" data-position="bottom"
                    data-tooltip="Search and Alert">
                    {{ message }}<span class="new badge"></span></a>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>    
-->
<!-- 
    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" required>
                    <label for="query">Search Hive</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_tasks') }}" class="btn grey text-darken waves-effect waves-red">Reset</a>
                    <button type="submit" class="orange darken-1 btn waves-effect waves-yellow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    -->
    <div class="row">
        <div class="col s12 center">
            <br>
            <p>To make this hive a more efficient honey producing machine, find and ALERT the system to all problem bees</p>
            <br>
        </div>
    </div>

    <div class="progress-bar-container">
        <div class="progress-bar">
            <span class="percentage task-progress">
            </span>
        </div>
      </div>

    <form action="/fill-db-button">
        <input type="submit" value="Fill DataBase" />
    </form>

    <form action="/delete-all">
        <input type="submit" value="Delete All" />
    </form>

    
        <a href="{{ url_for('delete_multiple') }}" onclick="M.toast({html: 'Reported! Good Job!', classes: 'rounded'})"
        class="btn-small red accent-4 waves-effect waves-white">Alert?</a>
    


    {% if tasks|length > 0 %}
    <ul class="collection">
        {% for task in tasks %}
        <li class="collection-item avatar">   

            <div class="row">

                <div class="col s1">
                    <form action="{{ url_for('delete_multiple') }}" method="post">
                        <p>
                        <label>
                            <input type="checkbox" name="mycheckbox" value="{{ task._id }}"
                            onclick="M.toast({html: '{{ task.task_name }}', classes: 'rounded'})"/>
                            <span>        <a href="{{ url_for('delete_multiple') }}" onclick="M.toast({html: 'Reported! Good Job!', classes: 'rounded'})"
                                class="btn-small">inside a form</a> </span>
                        </label>
                        </p>
                    </form>
                </div>
            
                <div class="col s11">
                        <a href="{{ url_for('edit_task', task_id=task._id) }}" class="right btn-small btn-flat"><i class="fas fa-edit" id="grey"></i></a>
                        
                        <img src="/static/images/symbol2.png" width="10px">
                        <span class="title">{{ task.task_name }}<br>
                        {{ task.honey_production }}<br>
                        {{ task.health }}</p></span>

                        <a href="{{ url_for('delete_task', task_id=task._id) }}"
                        onclick="M.toast({html: 'Bee Reported', classes: 'rounded'})"
                        class="btn-small red accent-4 waves-effect waves-white">Alert?</a>
                </div>
            </div> 
        </li>
        {% endfor %}
    </ul>

    {% else %}
        <h3 class="enter-align">No results found</h3>
    {% endif %}

    


{% endblock %}
